@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
.wl{
    font-family: 'PT Sans', sans-serif;
    font-size: 3.0rem;
    color: #ffff;

}

.currency{
    font-family: 'PT Sans', sans-serif;
}